{
  "rpcUrl": "https://mainnet.infura.io/v3/YOUR_PROJECT_ID",
  "privateKey": "YOUR_PRIVATE_KEY",
  "uniswapFactoryAddress": "0x5C69bEe701ef814a2B6a3EDD4B1652CB9cc5aA6f",
  "uniswapRouterAddress": "0x7a250d5630B4cF539739dF2C5dAcb4c659F2488D",
  "uniswapPairABI": []
}
